<section>
    <h2>Crie sua própia sala</h2>
    <form action="/created-room" method="POST">
        <label class="sr-only" for="room-pass">Insira uma senha</label>
        <input id="room-pass" name="password" type="password" placeholder="Insira uma senha">
        <button>
            <img src="images/entrar-sala.png" alt="Entrar na sala">
            Entrar na Sala
        </button>
    </form>
</section>
    