<section>
    <h2>Entre como participante</h2>
    <form action="room">
        <label class="sr-only" for="room-id">Codigo da Sala</label>
        <input id="room-id" type="number" placeholder="Código da Sala">
        <button>
            <img src="images/entrar-sala.png" alt="Entrar na sala">
            Entrar na Sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Crie sua própria sala de forma fácil</h2>
    <a class="button outlined" href="/createRoom">
        <img src="images/pessoas.png" alt="Criar sala"> Criar Sala
    </a>
</section>