<section>
    <h2>Faça login</h2>
    <form action="room">
        <label class="sr-only" for="room-id">Nome de usuario</label>
        <input id="user-name" type="text" placeholder="Nome de usuario">
        <label class="sr-only" for="room-id">Sua senha</label>
        <input id="user-password" type="password" placeholder="Digite sua senha">
                    
        <button>
            <img src="images/entrar-sala.png" alt="Entrar">
            Entrar
        </button>
    </form>
</section>
    
<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>
    
<section>
    <h2>Crie sua conta</h2>
    <a class="button outlined" href="create_pass">
        <img src="images/pessoas.png" alt="Criar sala"> Criar conta
    </a>
</section>
    
